/* styles.css */

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(68, 0, 255);
} */

header {
    background-color: #160d0f; /* Background color of the header */
    padding: 10px 0;
}

.navbar {
    background-color: #bd0fbd; /* Background color of the navbar */
    /* overflow: hidden; */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: rgb(204, 198, 201);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #912b6f; /* Color when hovering over a link */
    border-radius: 15%;
}
