<nav class="navbar navbar-expand-lg  bg-light navbar-light">
    <div class="container-fluid">
      
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="background-color: rgb(6, 41, 11);">
      <a class="navbar-brand" href="#"><img src="../../assets/images/123.jfif" width="120" height="95"></a>
          <!-- <a class="navbar-brand" href="#"><b>About </b><span style="color:yellow;font-weight:bold">Me</span></a> -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li>
              <a class="nav-link active" aria-current="page" routerLink=""><b>HOME</b></a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/about"><b>HOME-STAYS</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/resorts"><b>RESORTS</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/attractions"><b>ATTRACTIONS</b></a>
              </li>
              </ul>
      </div>
    </div>
  </nav>
